/* alternative and more specific setup */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
} 

body {
    width: 100vw;
    height: 100vh;
    background-color: #119134;
    border: 4px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#squares-container {
    height: 808px;
    width: 808px;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
}