/* alternative and more specific setup */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
} 

body {
    width: 1000px;
    height: 1000px;
    background-color: #119134;
    border: 4px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#squares-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}

.grid-div {
    /* width: 2em;
    height: 2em; */

    height: 62.5px;
    width: 62.5px;
    display: flex;
    background-color: aquamarine;
    border: 1px solid blue;
    flex-shrink: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}